


.album_block {
  height: 100%;
  width: 45%;
  /*background-color: #7983ff;*/
  border-right: 1px solid lightgray;

}

.video_block {
  /*background-color: bisque;*/
  height: 40%;
}


.album_list_block {
  /*background-color: #ff5644;*/
  height: 60%;
}
